@import "reset.scss";



// 滚动条外观设置
::-webkit-scrollbar{
  width: 8px;
}
// 滚动条的柱子
::-webkit-scrollbar-track{
  background: #a8d8ea;
}
// 滚动条的小块
::-webkit-scrollbar-thumb{
  background: #fff;
  border-radius: 5px;
}